<div class ="post_content_div">
<div class="center_div">

   <%= form_for @comment do |f| %>
   <%= f.label "Post:", :class => "form-label" %>
   <h4> <%= link_to @comment.post.title, @comment.post %></h4>
   <%= f.label :comment, :class => "form-label" %>
   <%= f.text_area :comment, :value => @comment.comment,  :class => "form-control" %>
   <%= f.submit "Edit Comment", :class => "link_button submit-buttom" %>
   <% end %>
</div>
</div>