<div class ="post_content_div">
<div class="center_div">
<form action="" method = "post">
   
   <%= form_for @comment do |f| %>
   <h4>Post</h4>
   <h4> <%= link_to @comment.post.title, @comment.post %></h4>
   <%= f.label :comment %>
   <%= f.text_area :comment, :value => @comment.comment %>
   <%= f.submit %>
   <% end %>
</form>
</div>
</div>