<div class="content_main">
  <div class="row">
     <div class="col-6 col-md-6"> 
       <h2>Welcome! <%= @user.user_name %> 🔆 </h2>
       <%= form_for @user do |f|%>
       <%= f.label "User Name:" %>
       <%= f.text_field :user_name %>

       <%=f.label "Profile photo" %>
       <%= f.text_field :image %>
       <%= f.submit "Update Profile" %>
       <% end %>
     </div>
     <div class="col-6 col-md-6">
       <% @posts.reverse.each do |post|%>
           <div class="single_post">
               <h3><%= link_to post.title, post_path(post.id) %></h3>
               <p><%=  post.content %></p>
          </div>
      <% end %>
    </div>
  </div>
</div>