<div class="content_main">
  <div class="row add-bottom-border">
         <% flash.each do %>
            <% if flash[:welcome] != nil%>
            <%= content_tag :div, flash[:welcome], :class => "alert alert-secondary" %>
            <% end %>
         <% end %>

         <% flash.each do %>
            <% if flash[:back] != nil%>
            <%= content_tag :div, flash[:back], :class => "alert alert-secondary" %>
            <% end %>
         <% end %>

      <div class="col-9">

       <%# filter function %>

         <%= render :partial => 'form_filter' %>
      </div>
    <div class="col-3">
        <div class="text-align-right">

        <%# list function %>

         <%= link_to "list", posts_path, :class => "btn btn-outline-primary"%>
         </div>
      </div>
  </div> 
  
  <div class="row">
   <% @posts.reverse.each do |post| %>

       <%# cards for all the posts %>

      <div class="card" style="width: 30%; padding:0; margin:1.5% 1.5%">
        <div class="img-height">
         <% if post.image.present? %>
         <%= cl_image_tag post.image, :class => "card-img-top" %>
         <% else %>
         <img src="https://advancepetproduct.com/wp-content/uploads/2019/04/no-image.png" alt="" class="card-img-top">
         <% end %>
        </div> 
         <div class="card-body">
          <div class="text-height">
            <h5 class="card-title"><%= post.title %></h5>
            <div class="row add-margin-bottom">
               <div class="col-1">
                  <img src="/assets/location.png" alt="" class="icon-index">
               </div>
               <div class="col-11">
                  <p class="card-text"><%= post.address %></p>
               </div>
            </div>
            <div class="row add-margin-bottom">
               <div class="col-1">
                  <img src="/assets/dollor.png" alt="" class="icon-index">
               </div>
               <div class="col-11">
                  <p class="card-text"><%= post.price %></p>
               </div>
            </div>
          </div>

          <%= link_to "Explore details", post, :class => "btn btn-primary", 'data-no-turbolink' => true%>

           <%# Check if the task has been completed %>

           <% if post.status.completion == "Done" %>
           <img src="/assets/completed.png" alt="" class="completed">
           <% end%>
         </div>
      </div>
   <% end %>
  </div>
</div>
