<div class="row content_main">
  <div class="col-6 col-md-6 scroll-div">
  
<!-- show single post -->
    <div class="single_post">
        <div class ="row">
          <div class="col-3">
              <%= cl_image_tag @post.user.image, :class => "userImg-in-post"%>
              <p class="user_name_bottom">Post by: <%= link_to @post.user.user_name, user_path(@post.user.id) %></p>
              <% if @current_user == @post.user%>
              <div class="text-align-center">
              <%= link_to "Edit", edit_post_path(@post.id), :class =>"btn-sm btn-primary" %>
              <%= link_to "Delete", @post ,:method => "delete", :class =>"btn-sm btn-danger"  %>
              </div>
              <% end  %>
          </div>

          <div class="col-9">
            <h2><%= @post.title %></h2>
            <p class="user_name_top"><%= @post.created_at.localtime.strftime '%Y-%m-%d %H:%M:%S' %>
            <div class="row add-margin-bottom">
              <div class="col-1">
                <img src="/assets/location.png" alt="" class="icon-index">
              </div>
              <div class="col-11">
                <p class="card-text"><%= @post.address %></p>
              </div>
            </div>
            <div class="row add-margin-bottom">
              <div class="col-1">
                <img src="/assets/dollor.png" alt="" class="icon-index">
              </div>
              <div class="col-11">
                <p class="card-text"><%= @post.price %></p>
              </div>
            </div>
            <h5>Details:</h5>
            <p class="add-bottom-border"><%= @post.content %></p>
          </div>
          
        </div>         
          <% if @post.image.present?%>
          <%= cl_image_tag @post.image, :class => "thumb" %>
          <% else %>
          <img src="https://advancepetproduct.com/wp-content/uploads/2019/04/no-image.png" alt="" class="thumb">
          <% end %> 
        </div>
        <p hidden id="latitude"><%= @post.latitude %></p>
        <p hidden id="longitude"><%= @post.longitude %></p>
        
<!-- show comments belong to this post -->
        
        <% @post.comments.each do |comment| %>
          <div class ="row  single_comment">
            <div class="col-2 add-right-border">
              <%= cl_image_tag comment.user.image, :class => "userImg-in-post"%>
              
            </div>
            <div class="col-10 only-comment">
              <p class="user_name_top"><%= link_to comment.user.user_name, user_path(comment.user.id), :class =>"link-name-comment" %> <%= comment.created_at.localtime.strftime '%Y-%m-%d %H:%M:%S' %> </p>
              <p><%= comment.comment %></p>
              <% if @current_user.id == comment.user.id %>
              <div class="button-bottom">
                <%= link_to "Edit", edit_comment_path(comment.id), :class =>"btn-sm btn-primary" %>
                <%= link_to "Delete", comment ,:method => "delete", :class =>"btn-sm btn-danger"  %>
              </div>
              <% end %>
            </div>
          </div>
        <% end %>

<!-- leave comments form -->
<%# if the case is closed, you can not add a new comment %>

        <% if @post.status.completion != "Done"%>

        <div class="leave-comment">
          <h4>Leave your comments:</h4>
          <%= form_for Comment.new do |f| %>
          <%= f.text_area :comment, :class => "form-control" %>
          <%= f.hidden_field :post_id, :value => @post.id %>
          <%= f.submit "Add Your Comment",:class => "btn btn-outline-primary" %>      
          <% end %>
        </div>
        <% end %>

     
    </div>
    <div class="col-6 col-md-6">
      <div id="map" style="width: 100%; height: 80vh;"></div>
      <script type="text/javascript">
      // google map javascript  
      // select latitude and longitude from HTML

        let latNum=parseFloat(document.getElementById("latitude").innerText)
        let lngNum=parseFloat(document.getElementById("longitude").innerText)
        var locations = [
          ['Bondi Beach',latNum, lngNum, 4]
        ];

      //set google map 
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: new google.maps.LatLng(latNum, lngNum),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        
        var infowindow = new google.maps.InfoWindow();
    
        var marker, i;
        
        for (i = 0; i < locations.length; i++) {  
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
          });
        }
      </script>

    </div>
  </div>  
</div>




